.task {
    width: 220px;
    font-size: 8px;
    margin: 0 10px;
}
.container h1 {
    align-self: flex-start;
    position: absolute;
    margin: 0 auto;
    margin-top: 20vh;
}
.buttons {
    margin: 40vh auto;
    display: flex;
    justify-content: center;
}
.buttons:last-child {
    position: absolute;
    margin-top: 50vh;
}

.container {
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    position: relative;
}